@model CasgemUOW.EntityLayer.Concrate.CustomerProcess
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br />
    <form method="post">
        <label>Gönderen ID</label>
        <input type="text" class="form-control" asp-for="SenderID" />
        <br />
        <label>Alıcı ID</label>
        <input type="text" class="form-control" asp-for="ReceiverID" />
        <br />
        <label>Miktar</label>
        <input type="text" class="form-control" asp-for="Amount" />
        <br />
        <button class="btn btn-primary">Para Gönder</button>
    </form>
</div>